<div class="container">
  <mat-spinner
    *ngIf="!setting"
    class="spinner"
  ></mat-spinner>
  <form class="setting" [formGroup]="settingForm" *ngIf="setting !== null">
    <div class="title">
    <h1>{{ 'setting.title' | translate }}</h1>
    </div>
    <div class="options">
      <div class="language option">
        <h2>{{ 'setting.language.title' | translate }}</h2>
        <mat-form-field>
          <mat-label>{{ 'setting.language.hint' | translate }}</mat-label>
          <mat-select formControlName="language">
            <mat-option
              *ngFor="
                let language of setting.availableLanguage
              "
              [value]="language.code"
            >
              {{ language.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="config option">
        <h2>Config path</h2>
        <mat-form-field>
          <input
            matInput
            placeholder="Yggdrasil config path"
            formControlName="configPath"
          />
        </mat-form-field>
      </div>
      <div class="binary option">
        <h2>Yggdrasil binary file paths</h2>
        <mat-form-field>
          <input
            matInput
            placeholder="Yggdrasil path"
            formControlName="yggdrasilBinPath"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Yggdrasil yggdrasilctl path"
            formControlName="yggdrasilCtlBinPath"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" (click)="saveConfig()">Save</button>
      <button mat-stroked-button>Reset</button>
    </div>
  </form>
</div>
