<div class="container">
  <h1>Peer address list for admin api</h1>
  <mat-action-list *ngIf="(configService.configApp | async) !== null">
    <button
      mat-list-item
      *ngFor="
        let peerAddress of (configService.configApp | async).peerAddressList
      "
    >
      <mat-icon matListIcon>computer</mat-icon>
      <h3 matLine>{{ peerAddress.name }}</h3>
      <p matLine>
        <span>{{ peerAddress.address }} </span>
      </p>
    </button>
  </mat-action-list>

  <h1>Config path</h1>

  <mat-form-field>
    <input
      matInput
      placeholder="Yggdrasil config path"
      [value]="(configService.configApp | async)?.configPath"
    />
  </mat-form-field>

  <h1>Yggdrasil binary file paths</h1>
  <mat-form-field>
    <input
      matInput
      placeholder="Yggdrasil path"
      [value]="(configService.configApp | async)?.yggdrasilBinPath"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Yggdrasil yggdrasilctl path"
      [value]="(configService.configApp | async)?.yggdrasilCtlBinPath"
    />
  </mat-form-field>
  <button mat-raised-button color="primary">Save</button>
  <button mat-stroked-button>Reset</button>
</div>
