.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    .title {
      color: black;
      margin: 0;
      padding: 50px 20px;
    }
  
    .config {
      width: 100%;
      color: black;
    }
  
    mat-sidenav {
      width: 200px;
    }
  
    .sidenav-container {
      height: 100%;
    }

    mat-sidenav-content {
      padding: 0 2vw;
    }
  }
  